:root {
   --errorColor: #d32068;
   --validColor: #2E0058;
}

.modal {
   position: fixed;
   z-index: 10;
   left: 0;
   top: 7%;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgba(0, 0, 0, 0.3);
   display: none;
}

.modal-content {
   background: #f4f4f4;
   margin: 10% auto;
   width: 70%;
   box-shadow: 0 5px 8px 0 rgba(0, 0, 0,0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
   position: relative;
   border-radius: 3px;
   min-height: 550px;
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.close-btn {
   position: absolute;
   top: 2%;
   right: 3%;
   font-size: 2.5rem;
   z-index: 1;
   color: #2E0058;
}

.close-btn:hover {
   cursor: pointer;
   color: #8E2DE2;
   transition: 0.2s ease-out;
}

.modal-content-left {
   background: linear-gradient(90deg, #2e0058 0%, #1c0036 100%);
   border-radius: 0 3px 3px 0;
   position: relative;
}

#modal-img {
   width: 80%;
   height: 80%;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.modal-content-right {
   border-radius: 0 3px 3px 0;
   position: relative;
}

.modal-form {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 90%;
   height: 90%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.modal-form h1 {
   font-size: 1.4rem;
   text-align: start;
   width: 80%;
   margin-bottom: 1rem;
   color: #2E0058;
   /* text-align: justify; */
}

.form-validation {
   margin-bottom: 1rem;
   width: 80%;
}

.form-validation.error {
   margin-bottom: 1.5rem;
   position: relative;
   border: 1px solid var(--errorColor);
   border-radius: 1px;
}

.form-validation.valid {
   margin-bottom: 0.5rem;
   position: relative;
   border: 1px solid var(--validColor);
   border-radius: 2px;
}

.form-validation p {
   font-size: 0.8rem;
   margin-top: 0.5rem;
   color: var(--errorColor);
   position: absolute;
   top: 2.3rem;
   display: none;
}

.form-validation.error p {
   display: block;
}

.modal-input {
   display: block;
   padding-left: 0.5rem;
   outline: none;
   border-radius: 2px;
   border: none;
   height: 2.5rem;
   width: 100%;
   font-size: 1rem;
   background-origin: 1px 1px 1px rgba(0,0,0,0.5);
}

.modal-input::placeholder {
   color: #b1b1b1;
}

.modal-input-btn {
   width: 80%;
   height: 2.5rem;
   border-radius: 2px;
   background-color: #2E0058;
   outline: none;
   border: none;
   color: white;
   font-size: 1.2rem;
   text-align: center;
}

.modal-input-btn:hover {
   cursor: pointer;
   background-color: #8E2DE2;
   transition: all 0.4s ease-out;
}

.modal-input-login {
   font-size: 1rem;
   margin-top: 1rem;
   color: #b1b1b1;
   width: 80%;
   text-align: center;
}

.modal-input-login a {
   text-decoration: none;
   color: #2E0058;
   font-size: 600;
}

.modal-input-login a:hover {
   color: #8E2DE2;
}

@media screen and (max-width: 768px) {
   .modal-content-left {
      display: none;
   }

   .modal-content {
      grid-template-columns: auto;
      margin: 15% auto;
      width: 70%;
      height: 75%;
   }
}

@media screen and (max-width: 580px) {
   .modal-content {
      margin: 20% auto;
      width: 90%;
      height: 80%;
   }
}

